# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/Développeur/Project/AudioPipe/UpgradeLog.htm
/Développeur/Project/AudioPipe/UpgradeLog.XML
/Développeur/Project/AudioPipe/UpgradeLog2.htm
/Développeur/Project/AudioPipe/UpgradeLog2.XML
/Développeur/Project/AudioPipe/UpgradeLog3.htm
/Développeur/Project/AudioPipe/UpgradeLog3.XML
/Développeur/Project/AudioPipe/AudioPipe.v11.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo.LOCAL.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo.REMOTE.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo.BASE.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo.BASE.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo.LOCAL.suo
/Développeur/Project/AudioPipe/AudioPipe.v11.suo.REMOTE.suo
/Développeur/Project/AudioPipe/UpgradeLog.htm
/Développeur/Project/AudioPipe/UpgradeLog.XML
/Développeur/Project/AudioPipe/UpgradeLog2.htm
/Développeur/Project/AudioPipe/UpgradeLog2.XML
